[Desktop Entry]
Type=Application
Name=ProtocolForge
Comment=3GPP protocol simulation and debugging workbench
Exec=AppRun %F
Icon=protocolforge
Terminal=false
Categories=Development;
Keywords=3GPP;PCAP;Wireshark;network;
MimeType=application/vnd.tcpdump.pcap;application/x-pcapng;
StartupNotify=true
StartupWMClass=ProtocolForge
